body {
  margin: 0;
  background: #151616;
  font-family: roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




:root {
  --bg: #242526;
  --bg-accent: #1e61c7;
  --text-color: #dadce1;
  --nav-size: 60px;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 500ms;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a, div, input, label, .input, .MuiInputLabel-outlined {
  color: var(--text-color) !important; 
  text-decoration: none;
  ;
}

/* Menu Button */

.menu {
  position: absolute;
  top: 40px;
  left: 40px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;

}


.menu-button {
  --button-size: calc(var(--nav-size) * 0.75);
  width: var(--button-size);
  height: var(--button-size);
  background-color: #484a4d;
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
  top: 0;
  left: 0;
  position: absolute;
}

.menu-button:hover {
  filter: brightness(1.2);
}
.box {
  background-color: #484a4d;
  border-radius: 0.4em;
  padding: 0.8em;
  margin: 0;
  margin-left: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  position: absolute;
  background-color: #484a4d;
  border-radius: 0.4em;
  padding: 0.8em;
  margin: 0;
  margin-left: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 4em;
}

.nav-item, .scenario-item {
  padding: 1em;
  border-radius: 0.4em;
}

.nav-item:hover {
  filter: brightness(5.2);
  color: #ff7a18;
  background: hsla(0, 0%, 100%, .1);
  opacity: 1;
}

.fadeOut {
  opacity: 1;
  width: 0;
  height: 0;
  transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;

}

.fadeIn {
  opacity: 1;
  width: 100px;
  height: 100px;
  transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;
}

.input {
  position: fixed !important;
  top: 3em;
  left: 16em;
}

.scenario-list {
  position: absolute;
  bottom: 1em;
  right: 1em;
}

#scenario-list-title {
  color:red;
  text-align: center;
}